/*Self-Hosted Fonts*/
@font-face {
    font-family: Cinzel;
    src: url("./assets/fonts/Cinzel.woff2") format('woff2');
  }
  
@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat.woff2") format('woff2');
}

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    cursor: pointer;
}
a {
    color: inherit;
}

/*Default - Header Styling*/
body {
    height: 100vh;
}

h1 {
    font-family: Cinzel, sans-serif;
    font-weight: 100;
    text-align: center;
}

#content {
    opacity: 0;
}

#content.load {
    transition: 1s;
    opacity: 1;
}

#content h1 {
    font-size: 4rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: 120px;
}

nav button {
    width: 100px;
}

nav > h1 {
    font-size: 3rem;
}

nav > button {
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
}

nav > button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

nav > button:disabled {
    transition: 0.6s;
    color: initial;
    font-weight: bold;
}

#attribution {
    margin-top: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}

/*Homepage Styling*/
body:has(#home) {
    background-image: url("./assets/images/home-background.jpg");
    background-position: 50% 70%; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body:has(#home) button {
    color: white;
}

body:has(#home) #attribution {
    position: absolute;
    bottom: 0;
    color: black;
}

/*Menu Styling*/
body:has(#menu){
    background-color: white;
    color: black;
}

.card-category {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 64px;
    justify-content: center;
    gap: 36px;
    font-family: Cinzel, sans-serif;
}

.card-category * {
    transition: 0.6s;
}

.card-wrapper {
    color: white;
    position: relative;
}

.order {
    position: absolute;
    font-size: 2.5rem;
    z-index: 1;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card {
    height: 320px;
    width: 320px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.dish-name {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    text-align: center;
    padding: 8px 0px;
}

.card-wrapper:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card-wrapper:hover > .order {
    opacity: 1;
}

.card-wrapper:hover > .card {
    filter: blur(2px) brightness(50%);
}

.card-wrapper:hover .dish-name {
    padding: 0;
    font-size: 0;
}

/*Entry images*/
#entry1 {
    background-image: url("./assets/images/kagayaki-roll.jpg");
}

#entry2 {
    background-image: url("./assets/images/tenshi-roll.jpg");
}

#entry3 {
    background-image: url("./assets/images/sunrise-roll.jpg");
}

#entry4 {
    background-image: url("./assets/images/sunset-roll.jpg");
}

#entry5 {
    background-image: url("./assets/images/scarlet-ember-roll.jpg");
}

#entry6 {
    background-image: url("./assets/images/ruby-tempest-roll.jpg");
}

#entry7 {
    background-image: url("./assets/images/crimson-bloom-roll.jpg");
}

#entry8 {
    background-image: url("./assets/images/sake-nigiri.jpg");
}

#entry9 {
    background-image: url("./assets/images/maguro-nigiri.jpg");
}

#entry10 {
    background-image: url("./assets/images/ebi-nigiri.jpg");
}

#entry11 {
    background-image: url("./assets/images/unagi-nigiri.jpg");
}

/*Contact and About Styling*/
body:has(#contact){
    background-color: black;
    background-image: url("./assets/images/contact-background.jpg");
    background-size: cover;
    background-position: 50% 60%;
    color: white;
}

body:has(#about){
    background-color: black;
    background-image: url("./assets/images/about-background.jpg");
    background-size: cover;
    color: white;
}

body:has(#contact) button,
body:has(#about) button {
    color: white;
}

#about {
    margin: 128px;
}

#contact .info,
#about .info {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    margin: 24px;
}

body:has(#contact) #attribution,
body:has(#about) #attribution {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}