/*Self-Hosted Fonts*/
@font-face {
    font-family: Cinzel;
    src: url("./assets/fonts/Cinzel.woff2") format('woff2');
  }
  
@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat.woff2") format('woff2');
}

/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    cursor: pointer;
}

body {
    height: 100vh;
}

body:has(#home) {
    background-image: url("./assets/images/sushi-background.jpg");
    background-position: 50% 70%; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: 120px;
}

nav > h1 {
    font-family: Cinzel, sans-serif;
    font-size: 3rem;
    font-weight: 100;
}

nav > button {
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
    color: inherit;
}

nav > button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#home > h1 {
    font-family: Cinzel, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
}

#home > span {
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

body:has(#menu){
    transition: 0.3s;
    background-color: white;
    color: black;
}

#menu > h1 {
    font-family: Cinzel, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
}